.rdrCalendarWrapper{
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #4a4a49;
  font-size: 14px;
}

.rdrDateDisplayWrapper{}

.rdrDateDisplay{
  margin: 0 0 12px 0;
}

.rdrDateDisplayItem{
  input{
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    background: transparent;
    color: #0A0A0A;
    background-color: rgb(255, 255, 255);
    text-align: left;
    
    width: 100%;
    padding: 0 12px;
    border-radius: 6px;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
  }
}

.rdrDateDisplayItemActive{}

.rdrDateDisplayItemActive{
  input {
    &:focus {
      border: 1px solid currentColor;
    }
  }
}

.rdrMonthAndYearWrapper {
  align-items: center;
  height: 60px;
  padding-top: 10px;
}

.rdrMonthAndYearPickers{
  font-weight: 600;
  select{
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    padding: 10px 30px 10px 10px;
    border-radius: 6px;
    outline: 0;
    color: #3e484f;
    background: url("data:image/svg+xml;utf8,<svg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(-636.000000, -171.000000)' fill-opacity='0.368716033'><g id='input' transform='translate(172.000000, 37.000000)' fill='%230E242F' fill-rule='nonzero'><g id='Group-9' transform='translate(323.000000, 127.000000)'><path d='M142.280245,7.23952813 C141.987305,6.92353472 141.512432,6.92361662 141.219585,7.23971106 C140.926739,7.5558055 140.926815,8.06821394 141.219755,8.38420735 L145.498801,13 L149.780245,8.38162071 C150.073185,8.0656273 150.073261,7.55321886 149.780415,7.23712442 C149.487568,6.92102998 149.012695,6.92094808 148.719755,7.23694149 L145.498801,10.7113732 L142.280245,7.23952813 Z' id='arrow'></path></g></g></g></svg>") no-repeat;
    background-position: right 8px center;
    cursor: pointer;
    text-align: center;
    &:hover{
      background-color: rgba(0,0,0,0.07);
    }
  }
}

.rdrMonthPicker, .rdrYearPicker{
  margin: 0 5px
}

.rdrNextPrevButton {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 0.833em;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background: #EFF2F7;
  &:hover{
    background: #E1E7F0;
  }
  i {
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    text-align: center;
    border-style: solid;
    margin: auto;
    transform: translate(-3px, 0px);
  }
}

.rdrPprevButton {
  i {
    border-width: 4px 6px 4px 4px;
    border-color: transparent rgb(52, 73, 94) transparent transparent;
    transform: translate(-3px, 0px);
  }
}

.rdrNextButton {
  i {
    margin: 0 0 0 7px;
    border-width: 4px 4px 4px 6px;
    border-color: transparent transparent transparent rgb(52, 73, 94);
    transform: translate(3px, 0px);
  }
}


.rdrWeekDays {
  margin: 0;
  border-bottom: 1px solid #E6E6E6;
}

.rdrMonth{
  padding: 0 0 16px;
  .rdrWeekDays {
    padding: 0;
  }
}  

.rdrMonths.rdrMonthsVertical .rdrMonth:first-child .rdrMonthName{
  display: none;
}  

.rdrWeekDay {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #757575;
}

.rdrDay {
  background: transparent;
  user-select: none;
  border: 0;
  padding: 0;
  line-height: 40px;
  height: 40px;
  text-align: center;
  color: #4A4A49;
  &:focus {
    outline: 0;
  }
}

.rdrDayNumber {
  outline: 0;
  font-weight: 400;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rdrDayToday {
  .rdrDayNumber {
    border-radius: 50%;
    margin: 2px 4px;
    border: 1px solid #D6D6D6;
    width: 28px;
    height: 28px;
    margin: 3px auto;
  }

  .rdrInRange, .rdrDayInPreview {
    & ~ .rdrDayNumber {
      border: 1px solid #D6D6D6;
      background: none;
    }
  }

  .rdrEndEdge ~ .rdrDayNumber,
  .rdrStartEdge ~ .rdrDayNumber {
    border: none;
    margin: 4px auto;
  }
}

.rdrDayToday:not(.rdrDayPassive) {
  .rdrInRange, .rdrStartEdge, .rdrEndEdge, .rdrSelected{
    & ~ .rdrDayNumber span:after{
      background: #fff;
    }
  }
}

.rdrDay:not(.rdrDayPassive){
  .rdrInRange, .rdrSelected{
    background: #F5F5F5 !important;

      & ~ .rdrDayNumber{
        span{
          color: #4A4A49;
        }
      }
  }

  .rdrStartEdge, .rdrEndEdge {
    & ~ .rdrDayNumber{
      span{
        color: #fff;
      }
    }
  }
}

.rdrDay:not(.rdrDayPassive).rdrDayHovered {
  .rdrDayStartPreview, .rdrDayEndPreview {
    & ~ .rdrDayNumber{
      span {
        color: #0A0A0A;
      }
    }
  }
}

.rdrDayStartPreview {
  & ~ .rdrDayNumber {
    span {
      color: #fff;
    }
  }
}

.rdrDayHovered {
  .rdrDayStartPreview {
    & ~ .rdrDayNumber {
      span {
        color: #0A0A0A;
      }
    }
  }
}

.rdrSelected, .rdrInRange, .rdrStartEdge, .rdrEndEdge{
  background: currentColor;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
}

.rdrSelected{
  left: 2px;
  right: 2px;
}

.rdrInRange{}

.rdrStartEdge{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #0A0A0A !important;
  color: #fff;
  background: none !important;
}

.rdrEndEdge{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fff;
  background: none !important;
}

.rdrStartEdge, .rdrInRange, .rdrEndEdge {
}

.rdrStartEdgeCover, .rdrEndEdgeCover{
  display: block;
  width: 36px;
  height: 36px;
  background: #0A0A0A !important;
  margin: 0 auto;
}

.rdrStartEdgeCoverFloor, .rdrEndEdgeCoverFloor{
  background: #F5F5F5 !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rdrStartEdgeCoverFloor{
  left: 50%;
  z-index: -1;
}

.rdrEndEdgeCoverFloor{
  right: 50%;
  z-index: -1;
}

.rdrStartEdgeCover{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.rdrInRangeCover{}
.rdrEndEdgeCover{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.rdrSelected{
  border-radius: 1.042em;
}

.rdrDayStartOfMonth, .rdrDayStartOfWeek{
  .rdrInRange, .rdrEndEdge{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    left: 2px;
  }
}

.rdrDayEndOfMonth, .rdrDayEndOfWeek{
  .rdrInRange, .rdrStartEdge{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    right: 2px;
  }
}

.rdrDayStartOfMonth, .rdrDayStartOfWeek{
  .rdrDayInPreview, .rdrDayEndPreview{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-left-width: 1px;
    left: 0px;
  }
}

.rdrDayEndOfMonth, .rdrDayEndOfWeek{
  .rdrDayInPreview, .rdrDayStartPreview{
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   border-right-width: 1px;
   right: 0px;
 }
}


.rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
  pointer-events: none;
  background: #E6E6E6;
}


.rdrDayStartPreview{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  left: 0;
  background: #0A0A0A;
}

.rdrDayInPreview{}

.rdrDayEndPreview{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  right: 0;
  background: #0A0A0A;
}

.rdrDayHovered {
  .rdrDayStartPreview, .rdrDayEndPreview{
    background: #E6E6E6;
  }
  .rdrDayStartPreview.rdrDayEndPreview{
    border-radius: 6px;
  }
  .rdrEndEdge ~  .rdrDayStartPreview.rdrDayEndPreview{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .rdrStartEdge ~  .rdrDayStartPreview.rdrDayEndPreview{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .rdrStartEdge.rdrEndEdge ~  .rdrDayStartPreview.rdrDayEndPreview{
    border-radius: 6px;
  }
}

.rdrDefinedRangesWrapper{
  font-size: 14px;
  width: 128px;
  background: #fff;
  .rdrStaticRangeSelected {
    .rdrStaticRangeLabel {
      background: #F5F5F5;
      color: #0A0A0A;
    }
  }
}

.rdrStaticRange{
  border: 0;
  cursor: pointer;
  display: block;
  outline: 0;
  padding: 0 16px 0 0;
  margin-bottom: 8px;
  background: #fff;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #757575;

  &:hover, &:focus{
    .rdrStaticRangeLabel{
      background: #F5F5F5;
      color: #0A0A0A;
    }
  }
}

.rdrStaticRangeLabel{
  display: block;
  outline: 0;
  padding: 6px 12px;
  text-align: left;
  border-radius: 6px;
  font-weight: 500;
}

.rdrInputRanges{
  padding: 10px 0;
}

.rdrInputRange{
  align-items: center;
  padding: 5px 20px;
}

.rdrInputRangeInput{
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 6px;
  text-align: center;
  border: solid 1px rgb(222, 231, 235);
  margin-right: 10px;
  color: rgb(108, 118, 122);
  &:focus, &:hover{
    border-color: rgb(180, 191, 196);
    outline: 0;
    color: #333;
  }
}

.rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after{
  content: '';
  border: 1px solid currentColor;
  border-radius: 1.333em;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 0px;
  right: 0px;
  background: transparent;
}

.rdrDayPassive{
  pointer-events: none;
  .rdrDayNumber span{
    color: #757575;
  }
  .rdrInRange, .rdrStartEdge, .rdrEndEdge, .rdrSelected, .rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
    display: none;
  }
}

.rdrDayDisabled {
  .rdrDayNumber span{
    color: #aeb9bf;
  }
  .rdrInRange, .rdrStartEdge, .rdrEndEdge, .rdrSelected, .rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
    filter: grayscale(100%) opacity(60%);
  }
}

.rdrMonthName{
  text-align: left;
  font-weight: 500;
  color: #525252;
  font-size: 14px;
  padding: 0 12px 8px;
}
